<div id="server-time-wrapper">
  <table id="init-time-table">
    <thread>
      <tr>
        <th>send_time</th>
        <th>receive_time</th>
        <th>interval</th>
        <th>server_time</th>
        <th>tolerance</th>
      </tr>
    </thread>
    <tbody>
    </tbody>
  </table>
</div>

<style>
  #init-time-table {
    height: 250px;
  }
</style>