<div class="page">
  <%= yield %>
</div>

<!--手動でポジションを変更できるテキストボックス-->
<div class="listener-pos" style="display: none;">
  <input type="number" class="listener-x" value="0" step="0.01">
  <input type="number" class="listener-y" value="0" step="0.01">
  <input type="number" class="listener-z" value="0" step="0.01">
</div>

<div id="button-wrapper">
  <a id="start"><span>start</span></a>
</div>


<% if params[:debug] %>
  <%= render "components/partials/time_chart" %>
<% end %>