<%= yield %>

<%= render "components/partials/time_chart" %>

<br>
<button id="start">start</button>
<br>

<div id="editor-wrapper">
  <div class="editor">
    node generator
    <div id="json-editor">
    </div>

    offset:
    <input type="number" id="load-offset" value="2000">
    <br>
  </div>

  <div class="editor">
    param editor(name,param_name,type,value,time,duration)
    test: gain,gain,set,1.0,1000.,1000.
    <div id="param-editor">
    </div>
    <button id="param-send">send param</button>
    <br>
  </div>
</div>