<%= yield %>
<br>
<button id="start">start</button>
<br>


node generator
<div id="json-editor">
</div>

param editor(name,param_name,type,value,time,duration)
test: gain,gain,set,1.0,1000.,1000.
<div id="param-editor">
</div>
<button id="param-send">send param</button>
<br>


offset:
<input type="number" id="load-offset">

<%= render "components/partials/time_chart" %>