<%= yield %>

<%= render "components/partials/time_chart" %>

<br>
<button id="start">start</button>
<br>

<div id="editor-wrapper">
  <div class="editor">
    node generator
    <div id="json-editor">
    </div>

    offset:
    <input type="number" id="load-offset" value="2000"><button id="send-json">send json</button>
  </div>

  <div class="editor">
    script editor
    <div id="script-editor">
    </div>
    <button id="send-script">send script</button>
    <button id="reload-devices">reload all devices</button>
  </div>
</div>