
h1 {
    font-size: 4em;
}
#editor-wrapper {
    display: flex;
}

#json-editor {
    margin: 20px;
    width: 500px;
    height: 50vh;
}

#param-editor {
    margin: 20px;
    width: 500px;
    height: 50vh;
}
